@use '@/app/styles/variables' as *;

.container {
  padding: 40px;
  background-color: $bg-light;
  min-height: 100vh;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: $text-dark;
  margin-bottom: 30px;
}
